
.about-section {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px; 
}


@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  border: 3px solid #bb86fc;
}

.about-text .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: -10px;
}
