
.header {
  background-color: #1e1e1e;
  padding: 20px 0;
  border-bottom: 1px solid #2a2a2e;
  position: sticky;
  top: 0;
  z-index: 10;
}


.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-nav a {
  color: #bb86fc; 
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}
.main-nav a:hover {
  text-decoration: underline;
}
